@import 'components/App/variables';

.account-summary {

}

.account-summary-boxes,
.account-summary-total {
   text-align: center;
}

.account-summary-boxes {
   display: flex;
   flex-direction: column;
   margin: 0 auto 3.4rem;

   div {
      flex: 1;
      display: flex;
      flex-direction: column;
      border-bottom: .1rem solid #e7efff;
      padding: 1.6rem 0;
   }

   span {
      font-size: 1.4rem;
      color: $light-gray;
   }

   strong {
      font-size: 2.4rem;
      color: $light-blue;
   }
}

.account-summary-total {
   display: flex;
   flex-direction: column;
   margin-bottom: 3rem;

   span {
      font-size: 1.4rem;
      color: $light-gray;
   }

   strong {
      font-size: 3.6rem;
      color: $green;
   }
}

// 360px
@media (min-width: 22.5em) {
   .account-summary-boxes {
      flex-direction: row;

      div {
         padding-left: .5rem;
         padding-right: .5rem;

         &:first-child {
            border-right: .1rem solid #e7efff;
         }
      }
   }
}