$light-gray:            #cbd8f3;
$light-blue:            #7c99d6;
$dark-blue:             #3c6cde;
$pink:                  #ff2546;
$light-green:           #40e261;
$green:                 #23e04b;
$navy-box-shadow:       rgba(131, 100, 238, 0.15);