{
   "useTabs": false,
   "printWidth": 100,
   "tabWidth": 3,
   "singleQuote": true,
   "arrowParens": "avoid",
   "trailingComma": "none",
   "jsxBracketSameLine": false,
   "parser": "babylon",
   "semi": true,
   "bracketSpacing": true
}