@import 'components/App/variables';

.account-name {
   text-align: center;
   background-image: linear-gradient(to top, #edf3ff 0%, #ffffff 100%);
   padding: 2.4rem 1rem 2rem;
   margin: 0;

   h3 {
      font-size: 2.4rem;
      font-weight: 400;
      margin: 0 0 .2rem;
      color: $light-blue;
   }

   span {
      font-size: 1.4rem;
      color: $light-gray;
   }
}