@import 'scss/all-utilities';

.btn-bold {
   text-transform: uppercase;
   font-weight: bold;
}

// Big module buttons

.single-module-btn, .multi-module-btns {
   margin-left: 0;
   margin-right: 0;

   a, button {
      background-image: linear-gradient(to right, $light-blue 0%, $dark-blue 100%);
      border: 0;
      border-radius: 0;
      text-transform: uppercase;
      text-align: center;
   }
}