@import 'scss/all-utilities';

.account-name {
   text-align: center;
   background-image: linear-gradient(to top, #edf3ff 0%, #ffffff 100%);
   padding: 1.5rem 0.625rem 1.25rem;

   h3 {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0 0 0.125rem;
      color: $light-blue;
   }

   span {
      font-size: 0.875rem;
      color: $light-gray;
   }
}