@import 'components/App/variables';

.profile-links {
   display: flex;
   flex-direction: column;
   box-shadow: 0 0 6.5rem $navy-box-shadow;
   margin-left: 0;
   margin-right: 0;

   a {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 1.5rem .5rem;
      text-decoration: none;

      &:hover {
         background-image: linear-gradient(to right, $light-blue 0%, $dark-blue 100%);

         i, span {
            color: #fff;
         }
      }
   }

   i {
      color: $dark-blue;
      font-size: 4rem;
      line-height: 1;
      margin-bottom: 1rem;
   }

   span {
      color: #c9d4eb;
      text-transform: uppercase;
      font-size: 1.4rem;
   }
}

// 360px
@media (min-width: 22.5em) {
   .profile-links {
      flex-direction: row;

      a {
         padding: 3rem .5rem;
      }
   }
}