@import 'variables';

// Placeholder and label colors

.form-group {
   label {
      color: $light-blue;
   }
}

// Input, select, textarea

.form-control {
   padding: .8rem 1.7rem;
   height: 5.2rem;
}