@import 'variables';

// A typical widget module
.module {
   background: #fff;
   border-radius: .9rem;
   box-shadow: 0 0 6.5rem rgba(60, 108, 222, 0.25);
   padding: 2.5rem 0;
   margin: 0 auto 2rem;
   overflow: hidden;

   > * {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
   }

   h1, h2, h3 {
      &:first-child {
         margin-top: 0;
      }
   }
}

@media (min-width: $screen-md-min) {
   .module {
      > * {
         margin-left: 2.5rem;
         margin-right: 2.5rem;
      }
   }     
}

// Module that contains the content
.container-module {
   &:last-child {
      margin-bottom: 0;
   }
}