@import 'scss/vendor';
@import 'scss/site';

@import 'scss/all-utilities';

.app {
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
}

// Panel content
.panel-content {
   h1, h2 {
      &:first-child {
         margin-top: 0;
      }
   }
}

// 576px, small devices
@include media-breakpoint-up(sm) {
   .panel-content {
      margin-top: 2rem;
   }
}

@import "components/UI/Buttons/style";