@import 'components/App/variables';

.home-header {
   margin-bottom: 4rem;
   text-align: center;

   h1 {
      margin-top: 0;
      text-align: center;
      font-size: 3.4rem;
   }
}

@media (min-width: $screen-md-min) {
   .home-header {
      h1 {
         font-size: 6rem;
      }
   }
}