.backdrop {
   position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	width: 100%;
   height: 100%;
   z-index: 997;

   background: rgba(0, 0, 0, 0.67);

   opacity: 1;
   transition: opacity 1s;

   // &.opened {
	//    opacity: 1;
   // }
}