.modal-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   overflow: auto;

   position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	width: 100%;
   height: 100%;
   z-index: 998;
}

.modal {
   background: #fff;
   max-width: 50rem;
   width: 100%;
   padding: 3rem;
   margin: .8rem auto;
   position: relative;
   overflow-y: auto;
   z-index: 999;

   opacity: 1;
   transition: opacity .5s;

   // &.opened {
   //    opacity: 1;
   // }
}

.modal-close {
   border: 0;
   background: 0;
   position: absolute;
   top: 1.8rem;
   left: 1.8rem;
   font-size: 1.7rem;
   width: 2.5rem;
   height: 2.5rem;

   cursor: pointer;
   outline: 0;
}