@import 'variables.scss';

// Placeholder and label colors

.form-group {
   label {
      color: $light-blue;
   }
}

// Input, select, textarea

.form-control {
   padding: 8px 17px;
   height: 52px;
}