.app {
   margin: 50px auto 30px;
   padding: 25px;
   border-radius: 10px;
   background-color:  #f5f5f5;
   box-shadow: 0px 0px 65px 0px rgba(60, 108, 222, 0.25);
}

html, body {
   min-height: 100%;
}
 
body {
   margin-top: 50px;
   margin-bottom: 50px;
}

@import "module.scss";