.app {
   margin: 5rem auto 3rem;
   padding: 2.5rem;
   border-radius: 1rem;
   background-color:  #f5f5f5;
   box-shadow: 0 0 6.5rem 0 rgba(60, 108, 222, 0.25);
}

html, body {
   min-height: 100%;
}
 
body {
   margin-top: 5rem;
   margin-bottom: 5rem;
}

@import "module.scss";
@import "forms.scss";
@import "../Buttons/style.scss";