@import '../../App/variables';
@import '../../App/mixins';

// Main navigation

.navigation nav {
   
   ul {
      @include reset-ul();
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }

   li {
      flex: 0 0 110px;
      margin: 0 10px 18px;
   }

   .active {
      .main-nav-box {
         background-image: linear-gradient(to right, $light-blue 0%, $dark-blue 100%);

         i {
            color: #fff;
         }
      }
   }
}

.main-nav-widget {
   text-align: center;

   span {
      text-transform: uppercase;
      color: #434d56;
      font-size: 12px;
      font-weight: bold;
   }
}

.main-nav-box {
   background: #f6f8f9;
   box-shadow: 0 0 4px rgba(0,0,0,0.2);
   margin-bottom: 5px;
   min-height: 80px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;

   i {
      color: #9fadb9;
      font-size: 38px;
   }
}

@media (min-width: 530px) {
   .navigation nav {
      ul {
         justify-content: space-between;
      }
   }
}