@import 'scss/all-utilities';

.income-chart-container {
   height: 14.375rem;
}

// 500px
@media (min-width: 500px) {
   .income-chart-container {
      height: 17.5rem;
   }
}

@include media-breakpoint-up(md) {
   .income-chart-container {
      height: 20rem;
   }
}

@include media-breakpoint-up(lg) {
   .income-chart-container {
      height: 23.4375rem;
   }
}