@import '../../App/variables';

.home-features {
   display: flex;
   justify-content: space-between;

   .home-image, .home-text {
      flex: 1;
   }
}

.home-image { display: none; }

.home-cta {
   text-align: center;
   margin-top: 20px;
}

@media (min-width: $screen-md-min) {
   .home-image { display: inline; }

   .home-text {
      margin-left: 25px;
   }
}