.messages-list-item {
   display: flex;
   justify-content: space-between;
   
   > div {

   }

   > aside {
      max-width: 14rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .checkbox-container {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 5.5rem;
      width: 100%;
      height: 100%;

      input {
         margin: 0;
      }
   }
}