.messages-list-item {
   display: flex;
   flex-direction: column;
   
   > div {
      
   }

   > aside {      
      display: flex;
      justify-content: flex-end;
      margin-top: 2rem;
   }

   .checkbox-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 4.5rem;
      width: 100%;
      margin-right: 1rem;

      input {
         margin: 0;
      }
   }
}

// 460px
@media (min-width: 28.75em) {
   .messages-list-item {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      > div {
         padding: 1rem 1rem 1rem 1.5rem;
      }

      > aside {
         max-width: 16rem;
         width: 100%;
         align-self: stretch;
         align-items: center;
         padding-right: 1.5rem;
         margin-top: 0;
      }

      .checkbox-container {
         max-width: 5.5rem;
         height: 100%;
      }
   }
}