@import 'components/App/variables';

.currency-settings-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: 45rem;
   margin: 0 auto;

   .SingleDatePickerInput {
      text-align: left;
   }

   .form-group, .form-group > * {
      width: 100%;
   }

   .form-group .DateInput__block {
      width: 130px;
   }
}

// 550px
@media (min-width: 34.375em) {
   .currency-settings-form {
      flex-direction: row;
   
      .form-group, .form-group > * {
         max-width: 19rem;
      }
   }
}